:root{
    --gradient-color-1: rgb(122, 238, 217);
    --gradient-color-2: rgb(129, 249, 145);
    --gradient-color-3: rgb(169, 239, 89);
}

body {
    margin: 0;
}

header{
    background-image: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2) , var(--gradient-color-3));
    height: 50px;
    align-content: center;
    nav {
        padding: 8px;
    }   
}
main{
    margin: 1.2rem;
    #create-project{    
        height: 300px;
        #create-project-form{
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            justify-content: space-evenly;
            gap: 25px;
            #create-project-left{
                place-content: space-between;
                display: flex;
                flex-direction: column;
                input{
                    height: 30px;
                }
            }
            #create-project-right{
                place-content: space-between;
                display: flex;
                flex-direction: column;
                input{
                    height: 250px;
                }

            }
            #submit-button{
                height: 35px;
                align-self: end;
            }
        }
    }
    #my-projects{
        margin-top: 6rem;
        
        @media (max-width: 535px) {    
            margin-top: 16rem;
        }    
        @media (max-width: 360px) {    
            margin-top: 28rem;
        }   
        #list-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            padding: 8px;
            
        .card{
            border-radius: 12px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 
              0 1px 5px rgba(0, 0, 0, 0.10);
            margin: 8px;
            padding: 8px;    
            height: 250px;
            width: 500px;
            display: flex;
            &:hover {
                background-color: var(--gradient-color-2);
                cursor: pointer;
              }
            article{
                width: 50%;
            }
            
            figure{
                img{
                    width: 125px;
                }
            }
            }
        }
    }
}
footer{
    background-color: rgb(219, 219, 219);
    height: 200px;
}